.quiz-page-container{
    background-color: #F5F7FB;
    height: fit-content;
    width: 100%;
    display: flex;
}

.quiz-container {
    max-width: 100%;
}

.quiz-set {
    display: flex;
    gap: 30px;
    justify-content: left;
    padding-top: 30px;
    padding-left: 80px;
}

.quiz-question {
    font-family: 'Karla', sans-serif;
    color: #293264;
    font-weight: 700;
    display: block;
    font-size: 30px;
}



.quiz-options {
    display: flex;
    gap: 30px;
    justify-content: left;
    padding-top: 20px;
}
button, input[type=button], input[type=reset], input[type=submit] {
    border-width: 0.79px;
}
.quiz-single-option {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    border-width: 0.79px;
    border: 0.79px solid #4D5B9E;
    font-size: 15px;
}

.option-selected {
    background: #D6DBF5;
}

.wrong-answer {
    background: #F8BCBC;
}

.correct-answer {
    background: #94D7A2;
}

.line-break {
    border: 0.79px solid #DBDEF0;
    width: 100%;
}

.submit-container {
    display: flex;
    gap: 20px;
}

.submit-btn {
    font-family: 'Inter', sans-serif;
    background: #4D5B9E;
    color: #ffffff;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    margin-left: 50%;
    margin-bottom: 10px;
}

.submitted {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.score-para {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 15.49px;
    color: #293264;
    
}

.play-again-btn {
    height: 30px;
    width: 104px;
    background-color: #4D5B9E;
    border-radius: 10px;
    color: #ffffff;
}

.hide {
    display: none;
}

.quiz-select-option {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F5F7FB;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: #293264;
}

.selection-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selection-label {
    gap: 10px;
    font-size: 30px;
    font-weight: 500;
}

.selection-select {
    margin-left: 15px;
    font-family: 'Karla', sans-serif;
    font-size: 25px;
}

.selection-submit {
    font-family: 'Inter', sans-serif;
    background: #4D5B9E;
    color: #ffffff;
    border-radius: 10px;
    height: 35px;
    font-size: 20px;
}